@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:300,400");
* {
  font-family: "Simsun", 微軟正黑體;
}

html, body {
  margin: 0px;
  padding: 0px;
}

html {
  background-color: #F2F2F2;
}

.content {
  width: 1024px;
  height: 768px;
  margin-left: auto;
  margin-right: auto;
}
.content .background {
  position: absolute;
  z-index: -1;
}
.content .background .img1 {
  width: 350px;
  height: 350px;
  position: absolute;
  margin-left: -140px;
  margin-top: 200px;
  animation: ani1 4s infinite;
}
.content .background .img2 {
  width: 350px;
  height: 350px;
  position: absolute;
  margin-left: 900px;
  margin-top: 210px;
  animation: ani2 4s infinite;
  delay: -2s;
}
.content .background .img3 {
  width: 350px;
  height: 350px;
  position: absolute;
  margin-left: 800px;
  margin-top: 10px;
  animation: ani3 5s infinite;
}
.content .background .img4 {
  width: 300px;
  height: 300px;
  position: absolute;
  margin-left: 800px;
  margin-top: 320px;
  animation: ani4 4s infinite;
}
.content .background .img5 {
  width: 230px;
  height: 230px;
  position: absolute;
  margin-left: -100px;
  margin-top: 40px;
  animation: ani5 4s infinite;
}
@keyframes ani1 {
  0% {
    top: 100px;
  }
  50% {
    top: 110px;
  }
  100% {
    top: 100px;
  }
}
@keyframes ani2 {
  0% {
    top: 110px;
  }
  25% {
    top: 105px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 110px;
  }
}
@keyframes ani3 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes ani4 {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(15px);
  }
}
@keyframes ani5 {
  0% {
    transform: translateY(15px);
  }
  25% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(15px);
  }
}
.content .nav {
  display: flex;
  width: 1000px;
  height: 30px;
  margin: 20px 40px;
  font-family: "Oswald";
}
.content .nav .ab, .content .nav .mem, .content .nav .pub, .content .nav .pro, .content .nav .cont, .content .nav .home {
  width: 300px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}
.content .ab:hover {
  text-shadow: 4px 4px 4px rgba(100, 100, 100, 0.3);
  transition-duration: 0.8s;
}
.content .ab:active {
  animation-duration: 4s;
  animation: ani;
}
.content .mem:hover {
  text-shadow: 4px 4px 4px rgba(100, 100, 100, 0.3);
  transition-duration: 0.8s;
}
.content .pub:hover {
  text-shadow: 4px 4px 4px rgba(100, 100, 100, 0.3);
  transition-duration: 0.8s;
}
.content .pro:hover {
  text-shadow: 4px 4px 4px rgba(100, 100, 100, 0.3);
  transition-duration: 0.8s;
}
.content .cont:hover {
  text-shadow: 4px 4px 4px rgba(100, 100, 100, 0.3);
  transition-duration: 0.8s;
}
.content .clicked {
  text-shadow: 4px 4px 4px rgba(100, 100, 100, 0.3);
  color: #C297B8;
}
.content .text {
  position: relative;
  top: 0px;
}
.content .text .homepage {
  margin-top: 200px;
  margin-left: 75px;
  color: black;
  letter-spacing: 2px;
  display: inline-block;
}
.content .text .homepage .sch {
  font-size: 40px;
  font-family: "Simsun";
}
.content .text .homepage .lab {
  font-size: 50px;
  font-family: "Simsun";
}
.content .text .homepage .eng {
  font-size: 30px;
  font-family: "Oswald";
  font-weight: 300;
}
.content .text .board {
  width: 800px;
  height: 500px;
  border-color: white;
  background-color: white;
  border-radius: 10px;
  background-image: -webkit-linear-gradient(#F9D4D4, #D1A9A9);
  opacity: 0.2;
  z-index: -0.5;
  margin-left: 75px;
  margin-top: 30px;
  position: absolute;
}
.content .text .board::-webkit-scrollbar {
  width: 5px;
  background-color: #B3B3B3;
}
.content .text .minorcont {
  width: 800px;
  height: 500px;
  font-size: 18px;
  font-family: "微軟正黑體";
  position: absolute;
  margin-left: 75px;
  margin-top: 30px;
  z-index: 0;
  overflow: scroll;
}
.content .text .minorcont .abtitle, .content .text .minorcont .memtitle, .content .text .minorcont .pubtitle, .content .text .minorcont .protitle, .content .text .minorcont .conttitle, .content .text .minorcont .contword {
  font-size: 25px;
  font-family: "Simsun";
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  opacity: 1;
}
.content .text .minorcont .abword, .content .text .minorcont .memword, .content .text .minorcont .pubword, .content .text .minorcont .proword {
  margin: 20px 40px;
  opacity: 10;
}
.content .text .memcont .memup {
  display: flex;
  margin-top: 50px;
  margin-left: 30px;
}
.content .text .memcont .memup .mempic {
  width: 120px;
  height: 160px;
  margin-left: 100px;
}
.content .text .memcont .memup .memtitle {
  width: 300px;
  height: 100px;
  margin-left: 15px;
  margin-top: 74px;
  display: inline-block;
}
.content .text .memcont .memlifepic {
  width: 300px;
  height: 200px;
  margin-top: 20px;
  margin-left: 60px;
}
.content .text .memcont .propic1 {
  width: 600px;
  height: 360px;
  margin: 20px 40px;
}
.content .text .memcont .propic2 {
  width: 700px;
  height: 300px;
  margin: 20px 40px;
}
